@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
body {
  box-sizing: border-box;
  background: url(../images/pattern-bg.svg) 90% 30%,
    url(../images/pattern-curve.svg) 0 100%;
  background-repeat: no-repeat;
  background-size: 50%;
}
.swiper-container {
  width: 90%;
  height: auto;
  margin: 80px auto;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.written {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  flex-basis: 55%;
  color: hsl(240, 38%, 20%);
  position: relative;
  left: 10%;
  line-height: 1.4;
  order: 1;
  padding: 10% 0;
  background: url(../images/pattern-quotes.svg) 10% 20%;
  background-repeat: no-repeat;
  background-size: 15%;
}
.written > p {
  font-weight: 700;
  font-size: 1.2rem;
}
p > span {
  font-weight: 500;
  color: hsl(240, 18%, 77%);
}
.image {
  flex-basis: 45%;
  order: 2;
}
img {
  width: 100%;
}

@media screen and (max-width: 950px) {
  body {
    background: url(../images/pattern-bg.svg) 50% 11%,
      url(../images/pattern-curve.svg) 0 100%;
    background-repeat: no-repeat;
    background-size: 90%;
  }
  .swiper-container {
    height: auto;
    /* visibility: hidden; */
  }
  .swiper-slide {
    display: block;
    background: none;
  }
  .written {
    position: static;
    padding-top: 100px;
    text-align: center;
    font-size: 1.3rem;
    background: url(../images/pattern-quotes.svg) 50% 20%;
    background-repeat: no-repeat;
    background-size: 20%;
  }
  p > span {
    display: block;
  }
  .image {
    width: 90%;
    margin: auto;
  }
}
